@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  background-image: url("../images/header-bg.jpg");
  height: 100vh;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: bottom center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  &_top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    @extend %rb-regular;
  }

  &_phone {
    padding-left: 40px;
    position: relative;

    &::before {
      content: url("../images/phone-icon.svg");
      position: absolute;
      left: 0;
    }
  }

  &_title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    @extend %bal;


    span {
      font-size: 56px;
      line-height: 66px;
      @extend %rb-light-italic;
      display: block;
      text-align: right;
      margin-top: -66px;
      margin-right: 75px;
    }
  }
}

.menu {

  &_list-item {
    display: inline-block;
  }

  &_list-item + &_list-item {
    margin-left: 52px;
  }

  &_list-link:hover {
    text-decoration: underline;
  }
}

.fairy-tail {

  &_inner {
    position: relative;
  }

  &_title {
    margin-bottom: 100px;

    span {
      font-size: 24px;
      line-height: 28px;
      @extend %rb-light-italic;
      display: block;
      margin-top: -30px;
      margin-left: 180px;
      color: #000000;
    }
  }

  &_slider {
    width: 50%;
  }

  &_container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &_body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &_text {
    font-size: 18px;
    line-height: 21px;
    @extend %rb-light;
    padding: 10px 0;
  }

  &_body-title {
    font-size: 18px;
    line-height: 21px;
    @extend %rb-regular;
  }
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 0;
  z-index: 1;
}

.slick-next {
  right: 0;
}


.our-trip {

  &_inner {
    position: relative;
  }

  &_container {
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &_title {
    span {
      margin-left: 245px;
    }
  }

  &_slider {
    width: 50%;
    margin-left: auto;
  }


  &_content {
    width: 50%;
    padding-right: 55px;
  }

  &_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
  }

  &_list {
    font-size: 24px;
    line-height: 28px;
    @extend %rb-light;
    margin: 5px 0;
  }

  &_list li:first-child {
    font-size: 24px;
    line-height: 28px;
    @extend %rb-regular;
    margin-bottom: 20px;
  }

  &_btn {
    padding: 11px 54px;
    font-size: 24px;
    line-height: 28px;
    background: #FFFFFF;
    border: 1px solid #E2AB3F;
    @extend %rb-light;
    transition: all .5s;

    &:hover {
      color: #FFFFFF;
      background-color: #E2AB3F;
      border: none;
    }
  }
}


.hotel {
  &_title {
    padding-bottom: 120px;

    span {
      margin-left: 120px;
    }
  }

  &_inner {
    display: flex;
  }

  &_images {
    margin-right: 100px;
  }

  &_text {
    margin-bottom: 20px;
  }

  &_gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      margin-top: 50px;
    }
  }
}

.price {

  background-image: url("../images/price-bg.png");
  background-repeat: no-repeat;
  background-position: center right 15%;

  &_title {
    padding-bottom: 130px;

    span {
      margin-left: 120px;
    }
  }

  &_inner {
    display: flex;
  }

  &_on-title,
  &_off-title {
    font-size: 24px;
    line-height: 28px;
    @extend %rb-regular;
    margin-bottom: 50px;
  }

  &_on {
    margin-right: 70px;
    width: 530px;
  }

  &_list-item {
    margin-bottom: 20px;
  }
}

.contacts {

  &_inner {
    display: flex;
    justify-content: space-between;
  }

  &_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &_date {
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
    @extend %bal;
    margin-bottom: 20px;

    span {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      @extend %rb-light-italic;
      display: block;
      margin-left: 205px;
      margin-top: -10px;
    }
  }

  &_price {
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
    @extend %bal;
    margin-left: 100px;

    span {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      @extend %rb-light-italic;
      display: block;
      margin-left: 205px;
      margin-top: -10px;
    }
  }

  &_form {
    max-width: 383px;
    margin: 0 auto;
  }

  &_form-title {
    font-size: 24px;
    line-height: 28px;
    @extend %rb-regular;
    margin-bottom: 50px;
  }

  &_form-input {
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    font-size: 18px;
    line-height: 21px;
    @extend %rb-regular;

    &::placeholder {
      color: black;
    }
  }

  &_form-btn {
    background-color: transparent;
    border: 1px solid #E2AB3F;
    font-size: 24px;
    line-height: 28px;
    @extend %rb-light;
    text-transform: uppercase;
    padding: 11px 45px;
    cursor: pointer;
  }
}

.footer {
  background-image: url("../images/footer-bg.jpg");
  height: 100vh;

  //background-repeat: no-repeat;
  //background-position: bottom center;
  //background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_text {
    font-size: 86px;
    line-height: 115px;
    @extend %bal;
  }

  &_contacts {
    width: 356px;
    height: 527px;
    background-image: url("../images/footer-contact-bg.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
  }

  &_contacts-title {
    font-size: 86px;
    line-height: 115px;
    color: #E2AB3F;
    @extend %bal;
    margin-bottom: 50px;
  }

  &_phone,
  &_email {
    display: inline-block;
    padding-left: 40px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: -5px;
    }
  }

  &_phone {
    margin-bottom: 20px;

    &::before {
      background-image: url("../images/footer-phone.svg");
    }
  }

  &_email {

    &::before {
      background-image: url("../images/footer-email.svg");
    }
  }

  &_social {
    margin-top: 38px;

    a {
      margin: 0 7px;
    }
  }
}

@import "media";